
img{
    border-radius:50%;
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    
    
}
#top{
    background-color: green;
    height:50%;
    text-align: center;
    color: white
}

.box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}
.info{
    display: flex;
    justify-content: center;
    padding: 55px;
    
}
button{
    height: 40px;
    width:60px;
    background-color: green;
    color: white
    
}
#bottom{
    padding: 0 100px;
    
}