{%extends "base.html"%}
{%block main%}

    
    {% for user in users%}
    <div>
        <div>
            <div class="column">
                <div class = 'd' style="padding-right:55px;">
                <img src="{{url_for('static',filename='uploads/'+user.filename)}}"style = "border-radius:50%;width:200px;height:200px"/>
                <div class = 'column' style="justify-items: center;">
                    <h5>{{user.firstname}}{{user.lastname}}</h5>
                    <p>{{user.gender}}</p>
                    <p>{{user.location}}</p>
                </div>
                </div>
                <div class = 'column'>
                    <div class='d' style="padding-top:55px;">
                    <a class="btn btn-primary" href="{{ url_for('profile_userid',userid=user.id)}}">View Profile</a>
                </div>
                </div>
        </div>
  
    </div>
      {%endfor%}
     
{% endblock %}